table {
  border: 2.5px solid black;
  border-collapse: collapse;
  caption-side: top;
}

caption {
  text-align: center;
}

td,th {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}

.coloring {
  background-color: lightpink;
}